*{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Public Sans', 'Times New Roman', Times, serif;
}

#container{
    height: 100vh;
    display: flex;
    width: 70%;
    margin: auto;
}

.left-menu{
    flex: 2;
}

.item-icon{
    display: block;
    margin: 1rem 1rem 1.5rem 1.5rem;
}

#twitter-button{
    cursor: pointer;
    padding: 0.7rem 5rem;
    border-radius: 3rem;
    border: none;
    background-color: #1DA1F2;
    color:white;
    font-size: 1rem;
    font-family: 'Public Sans';
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.menu-option{
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: white;
}

.menu-option:hover{
    background-color: grey;
    opacity: 0.6;
    transition: 0.1s;
}

b{
    font-size: 1.5rem;
}

.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#micro-dp{
    flex: 1;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5rem;
    border: none;
}

#user-name{
    flex: 8;
    padding-bottom: 0.5rem;
}

.options-pane{
    width: auto;
    align-items: center;
}

#left-section{
    display:flex;
}

.main-menu{
    flex: 3;
}

.header{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span{
    font-size: 2rem;
}

.post{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.post-options{
    flex: 2;
}

#post-box{
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: none;
}
.right-menu{
    flex: 2;
}

.right-menu input{
    width: 80%;
    margin: auto;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5rem;
    margin: 0.5rem 0;
    align-items: center;
    background: #f5f4f4;
    text-indent: 3rem;
}

.right-menu i { 
    position: absolute; 
}

#trending {
    height: 25rem;
    padding: 1rem 1rem;
    background-color: #f6ecf0;
}

#trending h2{
    padding-top: 0.5rem;
    padding-left: 0.3rem;
}
.trend-content{
    height: 6rem;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
}

.trend-content img{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}

small{
    padding-left: 0.3rem;
}

.title{
    display: flex;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.feed{
    border: 0.2px solid grey;
    padding: 0.5rem;
}

.feed-post img{
    display: inline-block;
    vertical-align: top;
}

.feed-post p{
    padding-left: 3.2rem;
}

.feed-image{
    margin: 1rem 1rem;
    height: 100%;
    width: 90%;
    border: 0.2px solid blue;
    border-radius: 0.6rem;
}

.handle , .hashtags{
    color: #1DA1F2;
}

.interactions{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.interaction{
    flex:1;
    color: grey;
}